extends layout

block content
  h2= title
  p
    | Welcome 
    input(type="text", placeholder="username", id="username")
    | to #{title}
  p 
    button#new-public-game.btn.btn-primary(data-toggle="modal" data-target="#myModal") New public game    
    | 
    button#new-private-game.btn.btn-primary New private game  
    
  p List of public games : 
    ul#games


  div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true")
          h4.modal-title#myModalLabel New game
        .modal-body
          .form-group
            input(id="game-name" placeholder="Game name" class="form-control")
          .form-group
              label(class="control-label") Add-ons
              label(class="checkbox" for="munchkin-addon-2")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-2" disabled="" required="" checked="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 2 - Hachement Mieux (not available yet)
              label(class="checkbox" for="munchkin-addon-3")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-3" disabled="" required="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 3 - Clerc et (pas) net (not available yet)
              label(class="checkbox" for="munchkin-addon-4")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-4" required="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 4 - Ton destin est sellé !
              label(class="checkbox" for="munchkin-addon-5")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-5" disabled="" required="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 5 -On zeu rôde again (not available yet)

        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Close
          button(type="button" class="btn btn-primary" id="create-public-game") Create game

