extends layout

block content
  h2= title
  p
    | Bienvenue  
    input(type="text", placeholder="username", id="username")
    | sur #{title}
  p 
    button#new-public-game.btn.btn-primary(data-toggle="modal" data-target="#myModal") Nouvelle partie    
    | 
    button#new-private-game.btn.btn-primary Nouvelle partie privée
    
  p Liste des parties publiques :
    ul#games


  div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true")
          h4.modal-title#myModalLabel Nouvelle partie
        .modal-body
          .form-group
            input(id="game-name" placeholder="Nom de la partie" class="form-control")
          .form-group
              label(class="control-label") Extensions
              label(class="checkbox" for="munchkin-addon-2")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-2" disabled="" required="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 2 - Hachement Mieux (bientôt disponbile)
              label(class="checkbox" for="munchkin-addon-3")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-3" disabled="" required="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 3 - Clerc et (pas) net (bientôt disponbile)
              label(class="checkbox" for="munchkin-addon-4")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-4" required="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 4 - Ton destin est sellé !
              label(class="checkbox" for="munchkin-addon-5")
                input(type="checkbox" data-toggle="checkbox" value="" id="munchkin-addon-5" disabled="" required="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Munchkin 5 -On zeu rôde again (bientôt disponbile)
              label(class="control-label") Paramètres
              label(class="checkbox" for="video-conf-enabled")
                input(type="checkbox" data-toggle="checkbox" value="" id="video-conf-enabled" disabled="" required="" checked="" class="custom-checkbox")
                span.icons
                  span.icon-unchecked
                  span.icon-checked
                | Activer la conférence vidéo

        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Fermer
          button(type="button" class="btn btn-primary" id="create-public-game") Créer la partie

