.container-fluid{
  padding: 0 50px;
}

.card {
  transition: transform .2s; /* Animation */
  width: 100px;
}

#players .card{
  width: 75px;
}
.card:active {
  transform: scale(3);
  opacity: 100%;
  z-index:1000;
}

.card-not-equiped{
  opacity: 50%;
}

video{
  width: 100%;
  background-color: rgba(223, 223, 223, 0.431) ;
}

.card-item{
  text-align: center;
}

#logs{
  color:grey;
  height: 300px;
  overflow: auto;
  font-size: 0.8em;
}

#players>li{
  padding: 5px;
}

#players .infos{
  font-size: 0.8em;
}

#players .name{
  font-weight: bold;
}

#logs li:nth-of-type(odd), #players>li:nth-of-type(odd){
  background-color: rgba(223, 223, 223, 0.431) ;
  
}

.boardzone ul{
  margin: 0;
}

.roomzone, .boardzone, .handzone{
  margin: 10px 0;
  padding : 10px;
  background-color: rgba(223, 223, 223, 0.431) ;
}

.empty{
  font-size: 0.8em;
  color:grey;
}

h6{
  margin-top: 0;
  font-size: 20px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small{
  color: #c5c8cb;
}h
