html{
  background: url("../images/nathan-dumlao-J2gEgTPM_OA-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
}

body{
  background-color: transparent;
  color: white;
}

.bottom-menu{
  background-color: rgb(0,0,0,0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.modal{
  color:#34495e;
}

.container-fluid{
  padding: 0 50px;
}

.headline {
  padding: 30px 0 30px;
  text-align: center;
}

.headline small {
  color: lightgray;
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  padding-top: 5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
  color: lightgray;
  border-bottom: 0; 
  background-color: rgba(0, 0, 0, 0.6);
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 0;
}

#visio{
  display: none;
}

#games{
  min-height: 200px;
  margin-bottom: 50px;
}


.tab-content {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  border:0;
}

.nav-tabs > li > a{
  /* background-color: rgba(0, 0, 0, 0.4); */
  border:0;
}

.nav-tabs > li > a {
  color: lightgray;
}

.nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-tabs > li > a.active {
  z-index: 1;
}

#players-boards ul{
  margin: 0;
}

#players .card{
  width: 75px;
}

.card {
  transition: transform .2s; /* Animation */
  width: 100px;
}

.card:active {
  transform: scale(3);
  opacity: 100%;
  z-index:99999;
}

.card-not-equiped{
  opacity: 50%;
}

video{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4) ;
}

.card-item{
  text-align: center;
}

.table-striped > tbody > tr:nth-child(odd), .table-striped > tbody > tr.selected-row {
  background-color: rgba(0, 0, 0, 0.4);
}

.table-striped > tbody > tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.6);
}

#logs{
  color:lightgray;
  height: 300px;
  overflow: auto;
  font-size: 0.8em;
}

#players>li{
  padding: 5px;
}

#players .infos{
  font-size: 0.8em;
}

#players .name{
  font-weight: bold;
}

#logs li:nth-of-type(even), #players>li:nth-of-type(even){
  background-color: rgba(0, 0, 0, 0.6) ;
}
#logs li:nth-of-type(odd), #players>li:nth-of-type(odd){
  background-color: rgba(0, 0, 0, 0.4) ;
}

.boardzone ul{
  margin: 0;
}

.roomzone, .boardzone, .handzone{
  margin: 10px 0;
  padding : 10px;
  background-color: rgba(0, 0, 0, 0.4) ;
}

.handzone{
  margin-bottom: 100px;
}

.empty{
  font-size: 0.8em;
  color:grey;
}

h6{
  margin-top: 0;
  font-size: 20px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small{
  color: #c5c8cb;
}